body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.gestionCompte form {
	/* top, right, bottom, left */
	margin: 50px 20px 20px 500px;
	
	/* Temporaire, le temps de travailler avec 2 fenêtres */
	/* margin-left:50px; */
}

.gestionCompte input[type=text] {
	margin-top:10px;
	margin-bottom:10px;
	width:200px;
}

.gestionCompte input[type=password] {
	margin-top:10px;
	margin-bottom:10px;
	width:200px;
}

.gestionCompte .infos{
	margin-top:20px;
	margin-bottom:30px;
}

.gestionCompte .password{
	margin-top:30px;
	margin-bottom:30px;
}

.gestionCompte .color {
	position:absolute;
	margin-left:300px;
}

.gestionCompte .button {
	margin-top:50px;
}