body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.userContainer {
	margin:20px 0px 0px 70px;
}


.userContainer table {
	margin-top: 20px;
	border-collapse: collapse;
}

.userContainer td, .userContainer th {
	border: 1px black solid;
	width:200px;
	height:50px;
}

.userContainer th {
	background-color:silver;
}

.userContainer td {
	padding-left:10px;
}

.check{
	width:100px;
	text-align:center;
	padding-left:0px;
}