body {
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 2% 0% 0% 5%;
}


.userContainer table {
	margin-top: 20px;
	border-collapse: collapse;
}

.userContainer td, .userContainer th {
	border: 1px black solid;
	width:200px;
	height:50px;
}

.userContainer th {
	background-color:silver;
	text-align:center;
}

.userContainer td {
	padding-left:10px;
}

.check{
	width:100px;
	text-align:center;
	padding-left:0px;
}