.inscription {
	padding-top: 2%;
	padding-bottom: 2%;
	margin-left: 40%;
}

.inscription input[type=text], .inscription input[type=password] {
	margin-top: 1%;
	margin-bottom: 1%;
	width: 225px;
}

.inscription .infos{
	margin-top: 2%;
	margin-bottom: 30px;
}

.inscription .password{
	margin-top: 3%;
	margin-bottom: 3%;
}

.inscription .button {
	margin-top: 5%;
}

.inscription .button input[type=submit]{
	margin-right: 1%;
}


/* RESPONSIVE : PROPRIETES TABLETTES (HORIZONTALE) */
@media screen and (max-width: 1024px)
{
		
}

/* RESPONSIVE : PROPRIETES TABLETTES (VERTICALE) */
@media screen and (max-width: 976px)
{
	.inscription {
		margin-left: 30%;
	}
}


/* RESPONSIVE : PROPRIETES MOBILES (HORIZONTAL) */
@media screen and (max-width: 625px)
{
	.inscription {
		margin-left: 20%;
	}

	.inscription .button {
		margin-top: 10%;
	}
}