body .inscription {
  padding-top: 20px;
  padding-bottom: 20px;
}

.inscription form {
	/* top, right, bottom, left */
	margin: 50px 20px 20px 500px;
}

.inscription input[type=text] {
	margin-top:10px;
	margin-bottom:10px;
	width:200px;
}

.inscription input[type=password] {
	margin-top:10px;
	margin-bottom:10px;
	width:200px;
}

.inscription .infos{
	margin-top:20px;
	margin-bottom:30px;
}

.inscription .password{
	margin-top:30px;
	margin-bottom:30px;
}

.inscription .color {
	margin-left:300px;
	margin-top:-400px;
}

.inscription .button {
	margin-top:50px;
}