.tache{
	display: inline-block;
		width: 50px;
	height: 50px;
}
#tache1{
	background: red;
	margin: 3px;
		z-index: 2;
}
#tache2{
	background: yellow;
		margin: 3px;

		z-index: 2;

}
#tache3{
	background: orange;
		margin: 3px;

		z-index: 2;
}
#tache4{
	background: grey;
		margin: 3px;

		z-index: 2;
}
#tache5{
	background: purple;
		margin: 3px;

		z-index: 2;
}
#tache6{
	background: blue;
		margin: 3px;

		z-index: 2;
}
#tache7{
	background: steelblue;
		margin: 3px;

		z-index: 2;
}
#tache8{
	background: pink;
		margin: 3px;

		z-index: 2;
}
#tache9{
	background: brown;
		margin: 3px;

		z-index: 2;
}
#groupe1{
	background: green;
	width: 150px;
	height: 150px;
	margin-top: 10px;
	z-index: 1;

}

#parking{
	background: #BABFC9;
	border: 4px solid black;
	width: 80%;
	height: 70%;
	position: absolute;
	margin-left: 10%;
}

/*#chose{
	background: pink;
	width: 250px;
	height: 250px;
	margin-top: 10px;
}*/

.myButton {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
	margin-left: 5%;
}